<!-- EXTEND_HEAD_LOADED -->

<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png?v=2" | absURL }}">
<link rel="icon" type="image/x-icon" href="{{ "favicon.ico?v=2" | absURL }}">
<link rel="apple-touch-icon" sizes="64x64" href="{{ "favicon-64.png" | absURL }}">

<style>
@font-face {
  font-family: "Inter";
  src: url('{{ "fonts/InterVariable.woff2" | relURL }}') format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url('{{ "fonts/Montserrat-Medium.woff2" | relURL }}') format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('{{ "fonts/JetBrainsMono-Medium.woff2" | relURL }}') format("woff2");
  font-style: normal;
  font-display: swap;
}
</style>
